{
  "plugins": [ "node" ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "node/no-unsupported-features": [ 2, { "version": 18 } ]
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  }
}
